In [43]:
import pandas as pd
import geopandas as gpd
import numpy as np
import censusdata
import warnings; warnings.simplefilter('ignore')
import math

In [100]:
#censusdata.search('acs5', 2015, 'concept', 'median income')

In [96]:
censusdata.printtable(censusdata.censustable('acs5', 2015, 'B19301'))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B19301_001E  | B19301. Per Capita Income in t | Per capita income in the past 12 months (in 2015 Inflati | int
-------------------------------------------------------------------------------------------------------------------

In [81]:
df = censusdata.download('acs5', 2019, censusdata.censusgeo([('state', '25'), ('county', '025'), ('tract', '*')]),
                             ['B19013_001E', 'B19301_001E'])
df = df.reset_index(drop=False)
df.rename(columns = {'index' : 'TRACT', 'B19013_001E' : 'Median Household Income', 
                     'B19301_001E' : 'Per Capita Income'}, inplace = True)
for x in range(len(df)):
    df.loc[x, 'TRACT'] = df['TRACT'].unique()[x].geo[2][1]
    
df = df.astype({"TRACT": int})

df = df.replace({-666666666.0: None}, regex=True)
df

      TRACT  Median Household Income  Per Capita Income
0       802                  60772.0            40709.0
1     10600                  89886.0           126401.0
2     40100                 152917.0            94733.0
3     40300                 140313.0            76141.0
4     50400                  67045.0            39287.0
..      ...                      ...                ...
199   82100                  25125.0            22526.0
200   60200                 140592.0            69694.0
201   90400                  38750.0            22053.0
202  120500                  84850.0            41448.0
203  101001                  64185.0            34106.0

[204 rows x 3 columns]

In [82]:
df.to_csv('test.csv')

In [102]:
template = pd.read_csv('Precinct_Make_Up_Of_Census_Tracts.csv')
template = template.drop('Unnamed: 0', axis=1)

income = pd.DataFrame(0, index=np.arange(len(template.columns[2:])),
                        columns=df.columns[1:])

income.insert(0, 'WARD_PRECI', template.columns[2:])

for i in range(len(income)):
    prct = income['WARD_PRECI'].loc[i]
    temp = template[['TRACT', prct]]
    tracker = []
    for n in range(len(temp)):
        if temp[prct].loc[n] != 0:
            tracker.append(temp['TRACT'].loc[n])
    med = [float(df[df['TRACT'] == x]['Median Household Income']) for x in tracker if math.isnan(float(df[df['TRACT'] == x]['Median Household Income'])) == False]
    per_c = [float(df[df['TRACT'] == x]['Per Capita Income']) for x in tracker if math.isnan(float(df[df['TRACT'] == x]['Per Capita Income'])) == False]
    try:
        income.loc[i, 'Median Household Income'] = round(sum(med)/len(med))
    except ZeroDivisionError:
        income.loc[i, 'Median Household Income'] = 0
    try:
        income.loc[i, 'Per Capita Income'] = round(sum(per_c)/len(per_c))
    except ZeroDivisionError:
        income.loc[i, 'Per Capita Income'] = 0
        
income.to_csv('Income_Metrics_By_Precinct.csv')
        
neighborhoods = gpd.read_file('Boston_Neighborhoods.shp')

props = pd.read_csv('Neighborhood_Make_Up_Of_Precincts.csv')

inc = pd.DataFrame(0, index=np.arange(len(neighborhoods['Name'])),
                        columns=income.columns[1:])
inc.insert(0, 'NEIGHBORHOOD', neighborhoods['Name'])

for i in range(len(inc)):
    neighb = inc['NEIGHBORHOOD'].loc[i]
    temp = props[['WARD_PRECI', neighb]]
    track = []
    for n in range(len(temp)):
        if temp[neighb].loc[n] != 0:
            track.append(temp['WARD_PRECI'].loc[n])
    med = []
    per_c = []
    try:
        for x in track:
            filt = income['WARD_PRECI'] == x
            if float(income[filt]['Median Household Income']) >= 0:
                med.append(float(income[filt]['Median Household Income']))
            if float(income[filt]['Per Capita Income']) >= 0:
                per_c.append(float(income[filt]['Per Capita Income']))
    except TypeError:
        print(income[filt]['Median Household Income'])
    try:
        inc['Median Household Income'].loc[i] = round(sum(med)/len(med))
        inc['Per Capita Income'].loc[i] = round(sum(per_c)/len(per_c))
    except ZeroDivisionError:
        pass

inc = inc.drop(25)
inc

Series([], Name: Median Household Income, dtype: int64)

               NEIGHBORHOOD  Median Household Income  Per Capita Income
0                Roslindale                    86274              41576
1             Jamaica Plain                    83737              45825
2              Mission Hill                    42231              28948
3                  Longwood                    42215              30482
4               Bay Village                    89603              93688
5          Leather District                    71872              64531
6                 Chinatown                    80738              79110
7                 North End                   109961              90945
8                   Roxbury                    41549              25872
9                 South End                    80516              75928
10                 Back Bay                    87395              84698
11              East Boston                        0                  0
12              Charlestown                   113659              73269
13                 West End                   106761              88691
14              Beacon Hill                   107218              97194
15                 Downtown                    99996              88185
16                   Fenway                    47706              45869
17                 Brighton                    78441              41627
18             West Roxbury                    98806              49020
19                Hyde Park                    75652              33786
20                 Mattapan                    61672              29399
21               Dorchester                    58459              30334
22  South Boston Waterfront                   125298              72715
23             South Boston                    98209              56894
24                  Allston                    64463              37016

In [84]:
inc.to_csv('Boston_Neighborhood_Income_Measures_ACS_Data_2015-19.csv')

In [99]:
censusdata.printtable(censusdata.censustable('acs5', 2015, 'B19013'))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B19013_001E  | B19013. Median Household Incom | Median household income in the past 12 months (in 2015 I | int
-------------------------------------------------------------------------------------------------------------------