In [1]:
import pandas as pd
import geopandas as gpd
import censusdata
import numpy as np
import warnings; warnings.simplefilter('ignore')

In [33]:
#censusdata.search('acs5', 2015, 'concept', 'per capita income')

In [26]:
censusdata.printtable(censusdata.censustable('acs5', 2015, 'B19013'))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B19013_001E  | B19013. Median Household Incom | Median household income in the past 12 months (in 2015 I | int
-------------------------------------------------------------------------------------------------------------------

In [32]:
df = censusdata.download('acs5', 2015, censusdata.censusgeo([('state', '25'), ('county', '025'), ('tract', '*')]),
                             ['B19013_001E', 'B19301_001E'])
df = df.reset_index(drop=False)
df.rename(columns = {'index' : 'TRACT', 'B19013_001E' : 'Median Household Income (Past Year)', 
                     'B19301_001E' : 'Per Capita Income (Past Year)'}, inplace = True)
for x in range(len(df)):
    df.loc[x, 'TRACT'] = df['TRACT'].unique()[x].geo[2][1]
    
df = df.astype({"TRACT": int})

df

,TRACT,Median Household Income (Past Year),Per Capita Income (Past Year)
0,20303,81607.0,55239
1,40401,53438.0,52650
2,40801,60192.0,57607
3,50101,42875.0,20550
4,50901,60769.0,24438
...,...,...,...
199,101101,59133.0,18857
200,130300,108472.0,50684
201,140102,65457.0,30841
202,140300,44771.0,21049
203,180400,81042.0,35068

In [ ]:
'B01001B_007E',
'B01001B_008E',
'B01001B_009E',

'B01001B_022E',
'B01001B_023E',
'B01001B_024E',

'B01001C_007E',
'B01001C_008E',
'B01001C_009E',

'B01001C_022E',
'B01001C_023E',
'B01001C_024E',

'B01001D_007E',
'B01001D_008E',
'B01001D_009E',

'B01001D_022E',
'B01001D_023E',
'B01001D_024E',

In [50]:
df = censusdata.download('acs5', 2015, censusdata.censusgeo([('state', '25'), ('county', '025'), ('tract', '*')]),
                             ['B01001A_013E', 'B01001A_014E', 'B01001A_015E', 'B01001A_016E', 'B01001A_028E',
                              'B01001A_029E', 'B01001A_030E', 'B01001A_031E', 'B01001B_007E','B01001B_008E',
                              'B01001B_009E','B01001B_022E','B01001B_023E','B01001B_024E','B01001C_007E',
                              'B01001C_008E','B01001C_009E','B01001C_022E','B01001C_023E','B01001C_024E',
                              'B01001D_007E','B01001D_008E','B01001D_009E','B01001D_022E','B01001D_023E',
                              'B01001D_024E'])
sum_column = df['B01001A_013E'] + df['B01001A_014E'] + df['B01001A_015E'] + df['B01001A_016E'] +  df['B01001A_028E'] + df['B01001A_029E'] + df['B01001A_030E'] + df['B01001A_031E']
df['Total White 55+'] = sum_column
sum_column = df[['B01001B_007E','B01001B_008E','B01001B_009E','B01001B_022E','B01001B_023E','B01001B_024E',
                'B01001C_007E','B01001C_008E','B01001C_009E','B01001C_022E','B01001C_023E','B01001C_024E',
                'B01001D_007E','B01001D_008E','B01001D_009E','B01001D_022E','B01001D_023E','B01001D_024E']].sum(axis=1)
df['Total Non-White 18-29'] = sum_column
df = df.reset_index(drop=False)
df = df[['index', 'Total White 55+', 'Total Non-White 18-29']]
df.rename(columns = {'index' : 'TRACT'}, inplace = True)
for x in range(len(df)):
    df.loc[x, 'TRACT'] = df['TRACT'].unique()[x].geo[2][1]
    
df15 = df.astype({"TRACT": int})

#df15

In [51]:
temp = pd.read_csv('Boston_Neighborhood_Demographics_Based_On_ACS_5Year_Estimates_2015-19.csv')

df = censusdata.download('acs5', 2019, censusdata.censusgeo([('state', '25'), ('county', '025'), ('tract', '*')]),
                             ['B01001A_013E', 'B01001A_014E', 'B01001A_015E', 'B01001A_016E', 'B01001A_028E',
                              'B01001A_029E', 'B01001A_030E', 'B01001A_031E', 'B01001B_007E','B01001B_008E',
                              'B01001B_009E','B01001B_022E','B01001B_023E','B01001B_024E','B01001C_007E',
                              'B01001C_008E','B01001C_009E','B01001C_022E','B01001C_023E','B01001C_024E',
                              'B01001D_007E','B01001D_008E','B01001D_009E','B01001D_022E','B01001D_023E',
                              'B01001D_024E'])
sum_column = df['B01001A_013E'] + df['B01001A_014E'] + df['B01001A_015E'] + df['B01001A_016E'] +  df['B01001A_028E'] + df['B01001A_029E'] + df['B01001A_030E'] + df['B01001A_031E']
df['Total White 55+'] = sum_column
sum_column = df[['B01001B_007E','B01001B_008E','B01001B_009E','B01001B_022E','B01001B_023E','B01001B_024E',
                'B01001C_007E','B01001C_008E','B01001C_009E','B01001C_022E','B01001C_023E','B01001C_024E',
                'B01001D_007E','B01001D_008E','B01001D_009E','B01001D_022E','B01001D_023E','B01001D_024E']].sum(axis=1)
df['Total Non-White 18-29'] = sum_column
df = df.reset_index(drop=False)
df = df[['index', 'Total White 55+', 'Total Non-White 18-29']]
df.rename(columns = {'index' : 'TRACT'}, inplace = True)
for x in range(len(df)):
    df.loc[x, 'TRACT'] = df['TRACT'].unique()[x].geo[2][1]
    
df19 = df.astype({"TRACT": int})

#df19

In [54]:
template = pd.read_csv('Precinct_Make_Up_Of_Census_Tracts.csv')
template = template.drop('Unnamed: 0', axis=1)

prct_age = pd.DataFrame(0, index=np.arange(len(template.columns[2:])),
                        columns=df.columns[1:])

prct_age.insert(0, 'WARD_PRECI', template.columns[2:])

for i in range(len(prct_age)):
    prct = prct_age['WARD_PRECI'].loc[i]
    temp = template[['TRACT', prct]]
    for n in range(len(temp)):
        if temp[prct].loc[n] != 0:
            dec = temp.loc[n, prct]
            filt = df15['TRACT'] == temp.loc[n, 'TRACT']
            for c in df.columns[1:]:
                prct_age[c].iloc[i] += round(df15[filt][c] * dec)
                
neighborhoods = gpd.read_file('Boston_Neighborhoods.shp')

props = pd.read_csv('Neighborhood_Make_Up_Of_Precincts.csv')

neigh_age_11_15 = pd.DataFrame(0, index=np.arange(len(neighborhoods['Name'])),
                        columns=prct_age.columns[1:])
neigh_age_11_15.insert(0, 'NEIGHBORHOOD', neighborhoods['Name'])

for i in range(len(neigh_age_11_15)):
    neighb = neigh_age_11_15['NEIGHBORHOOD'].loc[i]
    temp = props[['WARD_PRECI', neighb]]
    for n in range(len(temp)):
        if temp[neighb].loc[n] != 0:
            dec = temp[neighb].loc[n]
            filt = prct_age['WARD_PRECI'] == temp['WARD_PRECI'].loc[n]
            for c in prct_age.columns[1:]:
                try:
                    neigh_age_11_15[c].iloc[i] += round(prct_age[filt][c] * dec)
                except ValueError as v:
                    break

for c in neigh_age_11_15.columns:
    if c != 'NEIGHBORHOOD':
        neigh_age_11_15[c] = neigh_age_11_15[c].round().astype(int)

temp = pd.read_csv('Boston_Neighborhood_Demographics_Based_On_ACS_5Year_Estimates_2011-15.csv')
        
neigh_age_11_15.insert(1, 'Total', temp['TOTAL'])        

cols = list(neigh_age_11_15.columns)[2:]

for c in cols:
    for i in range(len(neigh_age_11_15)):
        neigh_age_11_15.loc[i, c] = round(neigh_age_11_15.loc[i, c]/neigh_age_11_15.loc[i, 'Total'], 3)

neigh_age_11_15

               NEIGHBORHOOD   Total  Total White 55+  Total Non-White 18-29
0                Roslindale   29024            0.172                  0.058
1             Jamaica Plain   42759            0.127                  0.052
2              Mission Hill   13920            0.074                  0.134
3                  Longwood    6241            0.036                  0.145
4               Bay Village    1399            0.147                  0.055
5          Leather District     537            0.058                  0.117
6                 Chinatown    2718            0.067                  0.110
7                 North End    6964            0.188                  0.020
8                   Roxbury   50601            0.028                  0.132
9                 South End   23667            0.117                  0.063
10                 Back Bay   20691            0.204                  0.067
11              East Boston   35498            0.108                  0.011
12              Charlestown   14793            0.166                  0.032
13                 West End    5879            0.167                  0.067
14              Beacon Hill    8519            0.178                  0.029
15                 Downtown   12488            0.155                  0.072
16                   Fenway   30801            0.056                  0.171
17                 Brighton   42705            0.147                  0.074
18             West Roxbury   32649            0.267                  0.022
19                Hyde Park   34542            0.117                  0.092
20                 Mattapan   24293            0.026                  0.150
21               Dorchester  119898            0.062                  0.123
22  South Boston Waterfront    5143            0.136                  0.031
23             South Boston   35495            0.148                  0.029
24                  Allston   25379            0.060                  0.154
25           Harbor Islands      71            0.225                  0.127

In [55]:
neigh_age_11_15.to_csv('Old_White_Pop_VS_Young_POC_Pop_11-15.csv')

In [56]:
template = pd.read_csv('Precinct_Make_Up_Of_Census_Tracts.csv')
template = template.drop('Unnamed: 0', axis=1)

prct_age = pd.DataFrame(0, index=np.arange(len(template.columns[2:])),
                        columns=df.columns[1:])

prct_age.insert(0, 'WARD_PRECI', template.columns[2:])

for i in range(len(prct_age)):
    prct = prct_age['WARD_PRECI'].loc[i]
    temp = template[['TRACT', prct]]
    for n in range(len(temp)):
        if temp[prct].loc[n] != 0:
            dec = temp.loc[n, prct]
            filt = df19['TRACT'] == temp.loc[n, 'TRACT']
            for c in df.columns[1:]:
                prct_age[c].iloc[i] += round(df19[filt][c] * dec)
                
neighborhoods = gpd.read_file('Boston_Neighborhoods.shp')

props = pd.read_csv('Neighborhood_Make_Up_Of_Precincts.csv')

neigh_age_15_19 = pd.DataFrame(0, index=np.arange(len(neighborhoods['Name'])),
                        columns=prct_age.columns[1:])
neigh_age_15_19.insert(0, 'NEIGHBORHOOD', neighborhoods['Name'])

for i in range(len(neigh_age_15_19)):
    neighb = neigh_age_15_19['NEIGHBORHOOD'].loc[i]
    temp = props[['WARD_PRECI', neighb]]
    for n in range(len(temp)):
        if temp[neighb].loc[n] != 0:
            dec = temp[neighb].loc[n]
            filt = prct_age['WARD_PRECI'] == temp['WARD_PRECI'].loc[n]
            for c in prct_age.columns[1:]:
                try:
                    neigh_age_15_19[c].iloc[i] += round(prct_age[filt][c] * dec)
                except ValueError as v:
                    break

for c in neigh_age_15_19.columns:
    if c != 'NEIGHBORHOOD':
        neigh_age_15_19[c] = neigh_age_15_19[c].round().astype(int)

temp = pd.read_csv('Boston_Neighborhood_Demographics_Based_On_ACS_5Year_Estimates_2015-19.csv')
        
neigh_age_15_19.insert(1, 'Total', temp['TOTAL'])        

cols = list(neigh_age_15_19.columns)[2:]

for c in cols:
    for i in range(len(neigh_age_15_19)):
        neigh_age_15_19.loc[i, c] = round(neigh_age_15_19.loc[i, c]/neigh_age_15_19.loc[i, 'Total'], 3)

neigh_age_15_19

               NEIGHBORHOOD   Total  Total White 55+  Total Non-White 18-29
0                Roslindale   30207            0.187                  0.046
1             Jamaica Plain   43871            0.158                  0.045
2              Mission Hill   14251            0.082                  0.167
3                  Longwood    6549            0.036                  0.189
4               Bay Village    1465            0.154                  0.048
5          Leather District     621            0.071                  0.077
6                 Chinatown    3113            0.079                  0.075
7                 North End    6785            0.184                  0.020
8                   Roxbury   53772            0.038                  0.130
9                 South End   24202            0.129                  0.047
10                 Back Bay   20755            0.204                  0.074
11              East Boston   36754            0.113                  0.015
12              Charlestown   16296            0.187                  0.034
13                 West End    6227            0.199                  0.048
14              Beacon Hill    8930            0.227                  0.019
15                 Downtown   13835            0.157                  0.055
16                   Fenway   32156            0.051                  0.193
17                 Brighton   48561            0.115                  0.067
18             West Roxbury   33439            0.285                  0.030
19                Hyde Park   37974            0.119                  0.099
20                 Mattapan   26843            0.029                  0.145
21               Dorchester  122539            0.069                  0.118
22  South Boston Waterfront    6344            0.128                  0.037
23             South Boston   36373            0.140                  0.030
24                  Allston   26650            0.053                  0.195
25           Harbor Islands      99            0.121                  0.040

In [57]:
neigh_age_15_19.to_csv('Old_White_Pop_VS_Young_POC_Pop_15-19.csv')